{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top" src="{{ item.image }}" alt="{{ object.name }}" style="height: 350px; object-fit: cover;">
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="h4">Added By: <span class="text-primary">{{ object.user.username }}</span></h1>
            <h1 class="h4">Name: <span class="text-primary">{{ object.name }}</span></h1>
            <h2 class="h5">Description:</h2>
            <p>{{ object.description }}</p>
            <h3 class="h5">Price: <span class="text-success">{{ object.price }} GEL</span></h3>
            <div class="mt-4">
                {% if user.is_authenticated and user == object.user or user.is_staff %}
                    <a href="{% url 'food:delete_item' object.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'food:update_item' object.id %}" class="btn btn-secondary">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
